<section class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Register</h3>
        <form id="signup">
            <div class="card-text">
            <label for="signupUsername">Username</label>
            <input type="text" placeholder="username" id="registerUsername">
            </div>
            <div class="card-text">
            <label for="registerPassword">Password</label>
            <input type="text" placeholder="password" id="registerPassword">
            </div>
            <button>Register!</button><br>
            <a href="/login">Already Registered? Click to Login.</a>
        </form>
    </div>
</section>


<script src="/js/register.js"></script>
